.dashboard-container {

  min-height: 100vh;

  background: linear-gradient(
    135deg,
    #0d6efd,
    #6610f2
  );
}

.card {

  transition: 0.3s ease;
}

.card:hover {

  transform: translateY(-5px);
}